.bgimg{
	background-image: url(bg.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 1000px;
}

.headerset{
	padding-top: 250px;
	box-sizing: border-box;
}

.headerset h2{
	font-size: 42px;
	font-weight: bold;
}

.headerset h1{
	font-size: 52px;
}


/*
......................ourservices.................*/

.ourservices{
	padding: 100px 0px 60px;
	height: 700px;

}

.ourservices h1{
	font-size:50px;
	font-weight: bold;
}


.rowsetting{
	margin: 80px 0px;
}
footer{
	padding: 50px;
	margin-top: 20px;
	height: 50px;
	font-size: 20px;
	text-align: center;
}
footer p{
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}

hr.socket{
	text-align: center;
}
