.bgimg{
	background-image: url(bg.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 1000px;
}

.headerset{
	padding-top: 250px;
	box-sizing: border-box;
}

.headerset h2{
	font-size: 42px;
	font-weight: bold;
}

.headerset h1{
	font-size: 52px;
}